<h1>New Athlete</h1>
<div class="col-xs-12 col-sm-6">
  <%= simple_form_for @athlete do |f| %>
    <%= render 'form_fields', :f => f %>
    <%= f.button :submit, :class => 'btn btn-info' %>
    <%= link_to 'Cancel', athletes_path, :class => 'btn btn-danger' %>
  <% end %>
</div>