<h1><%= @meet.competition_date.to_s(:db) %> meet against <%= @meet.opponent.titleize %></h1>
<div class="col-xs-6">
  <ul class="list-unstyled">
    <% @meet.heats.men.each do |heat| %>
      <li>
        <%= render 'heats/details', :heat => heat %>
      </li>
    <% end %>
  </ul>
</div>

<div class="col-xs-6">
  <ul class="list-unstyled">
    <% @meet.heats.women.each do |heat| %>
      <li>
        <%= render 'heats/details', :heat => heat %>
      </li>
    <% end %>
  </ul>
</div>